<!DOCTYPE html>
<html lang="en">

@{
    ViewData["Title"] = "Home Page";

}

<body>

    <img src="~/css/IPG.jpg" class="img-fluid" alt="Responsive image">


    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-0">
                    Instituto Politécnico
                    <span class="text-secondary">Guarda</span>
                </h1>
                <div class="subheading mb-5">
                    Avenida Dr. Francisco Sá Carneiro, n.º 50 - 6300-559 Guarda - Tel. 271 220 100
                    <a href="mailto:name@email.com">assessoria@ipg.pt</a>
                </div>


                <div class="social-icons">
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.facebook.com/politecnicodaguarda/">
                        <i class="fab fa-facebook-f"></i>
                        
                    </a>
                </div>


            </div>
        </section>
    </div>


</body>

</html>




